Code/Cache/Cache_Data
Code/CachedData/17baf841131aa23349f217ca7c570c76ee87b957/chrome
Code/CachedExtensionVSIXs
Code/CachedProfilesData/__default__profile__
Code/Code Cache
Code/Crashpad
Code/DawnGraphiteCache
Code/DawnWebGPUCache
Code/Dictionaries
Code/GPUCache
Code/Local Storage/leveldb
Code/Service Worker
Code/Session Storage
Code/Shared Dictionary
Code/User/History
Code/User/globalStorage
Code/User/workspaceStorage/1745059941022
Code/WebStorage
Code/logs
KDE/UserFeedback.org.kde.plasma-welcome.conf
xdg-desktop-portal-kderc
user-dirs.locale
powermanagementprofilesrc
Code/Cookies
Code/Cookies-journal
Code/Network Persistent State
Code/Preferences
Code/SharedStorage
Code/SharedStorage-wal
Code/TransportSecurity
Code/Trust Tokens
Code/Trust Tokens-journal
Code/code.lock
Code/languagepacks.json
Code/machineid
libaccounts-glib
pulse/cookie
QtProject.conf
Code/User/workspaceStorage/1745065694969/state.vscdb
kdeglobals
kdeglobals
Code/User/workspaceStorage
